{
	"edit_predictions": {
		{{- if eq .chezmoi.hostname "test-track" }}
		"provider": "copilot"
		{{- else }}
		"provider": "zed"
		{{- end }}
	},
	"outline_panel": {
		"dock": "right"
	},
	"vim_mode": true,
	"tab_bar": {
		"show": true
	},
	"agent": {
		"tool_permissions": {
			"default": "allow"
		},
		"default_profile": "write",
		"default_model": {
			{{- if eq .chezmoi.hostname "test-track" }}
			"provider": "copilot_chat",
			"model": "gpt-5.2"
			{{- else }}
			"provider": "zed.dev",
			"model": "claude-3-7-sonnet-latest"
			{{- end }}
		}
	},
	{{- if ne .chezmoi.hostname "test-track" }}
	"agent_servers": {
		"codex": {
			"default_config_options": {
				"model": "gpt-5.3-codex"
			}
		}
	},
	{{- end }}
	"ui_font_size": 14,
	"buffer_font_size": null,
	"buffer_font_family": "JetBrainsMono Nerd Font",
	"tab_size": 3,
	"theme": {
		"mode": "system",
		"light": "Dracula Pro",
		"dark": "Dracula Pro"
	},
	"terminal": {
		"font_size": 13,
		"font_family": "JetBrainsMono Nerd Font",
		"line_height": "standard"
	},
	"show_whitespaces": "boundary",
	"format_on_save": "on",
	"formatter": "prettier",
	"languages": {
		"Nix": {
			"language_servers": ["nixd", "!nil"],
			"formatter": "auto"
		},
		"Go": {
			"language_servers": ["gopls"],
			"formatter": "auto"
		}
	},
	"hard_tabs": true,
	"restore_on_startup": "empty_tab"
}
