{{ if eq .chezmoi.hostname "test-track" }}[url "ssh://git@ssh.gitlab.1password.io:2227"]
	insteadOf = https://gitlab.1password.io{{ end }}
[gpg]
	format = ssh
[alias]
	co = checkout
	getremote = !git fetch && git reset --hard @{u}
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL2ypgsJT6cu614LIGHPhNEK+l084Txm7SjkMZVPlX0z
	name = Duncan Stevenson-Price
	email = {{ .email }}
[core]
	eol = lf
	autocrlf = false
[fsck]
	zeroPaddedFilemode = ignore
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
