{{- if eq .profile "work" }}
{{- $work := include ".chezmoitemplates/work.yaml.age" | decrypt | fromYaml }}
{{- $workRemotes := concat $work.git.orgs $work.git.users -}}
[url "{{ $work.git.gitlabSsh }}"]
	insteadOf = {{ $work.git.gitlabHttps }}

{{ range $workRemotes -}}
[url "git@github.com-work:{{ . }}/"]
	insteadOf = git@github.com:{{ . }}/
	insteadOf = https://github.com/{{ . }}/
	insteadOf = ssh://git@github.com/{{ . }}/

{{ end -}}
[url "git@github.com-personal:"]
	insteadOf = git@github.com:
	insteadOf = https://github.com/
	insteadOf = ssh://git@github.com/
{{- end }}

[gpg]
	format = ssh
[alias]
	co = checkout
	getremote = !git fetch && git reset --hard @{u}
{{ if ne .profile "server" -}}
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ end -}}
[commit]
{{- /* Servers have no 1Password binary, so signing would fail on every commit. */}}
	gpgsign = {{ if eq .profile "server" }}false{{ else }}true{{ end }}
[push]
	autoSetupRemote = true
[user]{{ if eq .profile "work" }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAEDbXQOIRzbFI6Q3q0RHWVHloBrEcNagqPfk4fhbtsY{{ else }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL2ypgsJT6cu614LIGHPhNEK+l084Txm7SjkMZVPlX0z{{ end }}
	name = Duncan Stevenson-Price
	email = {{ .email }}
[core]
	eol = lf
	autocrlf = false
[fsck]
	zeroPaddedFilemode = ignore
[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
