# Configure XDG Base Directory
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache
export XDG_STATE_HOME=$HOME/.local/state

# Configure XDG Runtime Directory
if [ "$(uname)" = "Linux" ]; then
  export XDG_RUNTIME_DIR="/run/user/$UID"
else
  export XDG_RUNTIME_DIR="${TMPDIR}xdg-runtime-$UID"
fi

# Ensure XDG_RUNTIME_DIR exists
if [ ! -d "$XDG_RUNTIME_DIR" ]; then
  mkdir -p "$XDG_RUNTIME_DIR"
  chmod 700 "$XDG_RUNTIME_DIR"
fi

# Configure apps to use XDG Directories
export ZDOTDIR=$XDG_CONFIG_HOME/zsh
export ZCOMPDUMP="$XDG_CACHE_HOME"/zsh/zcompdump

export BUNDLE_USER_CONFIG="$XDG_CONFIG_HOME"/bundle
export BUNDLE_USER_CACHE="$XDG_CACHE_HOME"/bundle
export BUNDLE_USER_PLUGIN="$XDG_DATA_HOME"/bundle

export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/config
export NPM_CONFIG_CACHE=$XDG_CACHE_HOME/npm

export LESSHISTFILE="$XDG_DATA_HOME/less/lesshst"
{{- if ne .chezmoi.hostname "test-track" }}

export GOPATH="$XDG_DATA_HOME"/go
export GOBIN="$XDG_DATA_HOME"/go/bin
{{- end }}
